		<div class="jumbotron jumbotron-heading">
				<div class="container">
					<h1>Contact Information</h1>
					<hr/>
				</div><!-- /.container -->
			</div><!-- /.jumbotron -->

			<div class="container">

				<div class="row">

						<p>If you have any questions or comments regarding the Puget Sound Regional Travel Study, please contact us by email or phone.</p>

						<br/>

						<table class="table">
							<tr class="bg-success">
								<td><strong class="h4" style="font-weight: bold;">Information about the survey:</strong></td>
								<td><strong class="h4" style="font-weight: bold;"><a href="mailto:help@psrc.org"><span itemprop="email">help@psrc.org</span></a></strong></td>
								<td><!--<strong class="h4" style="font-weight: bold;">1-844-247-8189 (toll-free)</strong>--></td>
							<tr>
							<tr *ngFor="let contact of contacts; let first = first; let last = last; let i = index">
								<td>{{contact.name}}</td>
								<td><a href="mailto:{{contact.email}}"><span itemprop="media_email">{{contact.email}}</span></a></td>
								<td>{{contact.phone}}</td>
							</tr>

						</table>
					</div><!-- /.row -->

				</div><!-- /.container -->
