	<div class="jumbotron jumbotron-heading jumbotron-sub-home">
			<a name="about"></a>
			<div class="container">
				<h1>About the Project</h1>
				<hr/>
			</div><!-- /.container -->
		</div><!-- /.jumbotron -->

		<div class="container">

			<div class="row">

				<div class="col-lg-12 project-text">
					<p>The 2017 Puget Sound Regional Travel Study is a survey of household demographics, daily travel activities, and typical travel patterns throughout the <a href="/region">region</a>. This information is vital for regional and local planning agencies to understand the impact of growth, development, and other changes in the area's communities on the transportation system. Reliable transportation and viable travel options contribute to the region's quality of life and economic vitality, and this study will help agencies prioritize transportation improvements to best fit the region's needs.</p>
					<p>The <a href="http://www.psrc.org/household-travel-survey-program" target="_blank">last household travel study in the Puget Sound region</a> took place in 2014-2015. The results of the current study will build on the 2014-2015 survey to ensure that transportation improvements reflect the current conditions and resident needs. </p>
					<p>For more information about this study, please <!--visit the <a href="/psrcweb/pages/faq">FAQs</a> or --><a href="/contact">contact us</a>.</p>
				</div><!-- /.col-lg-5 -->

				<div class="col-sm-12">
					<a href="/home"><span class="glyphicon glyphicon-circle-arrow-up"></span>&nbsp;&nbsp;Back to Home</a>
				</div>

			</div><!-- /.row -->

		</div><!-- /.container -->
