		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<br />
					<h2>How It Works</h2>
					<br />
					<h4>After you install rPlace and your travel period begins...</h4>
					<h4>just go about your everyday activities and answer rPlace's surveys.</h4>
					<br />
					<!--<h4><a href="./assets/instructions.pdf?pdf=instructions" target="_blank">View detailed instructions</a></h4>-->
					<h4><a href="instructions.html" target="_blank">View detailed instructions</a></h4>
				</div>
			</div>

			<hr class="featurette-divider" />

			<div class="row featurette">
				<div class="col-md-7">
					<img class="featurette-image img-responsive center-block" src="assets/roster.png"/>
				</div>
				<div class="col-md-5">
					<h4 class="text-rmove"><strong>TRIP SURVEYS</strong></h4>
					<p class="text-muted">rPlace knows when you travel and when you stop. After your trip ends, rPlace will check to make sure you have driven on a road that the Vermont Agency of Transportation (VTrans) would like more information on. If so, after a few minutes you will receive a notification that a survey is ready. Trip surveys are indicated with a start time and end time.</p>
					<br />
				</div>
			</div>

			<hr class="featurette-divider" />

			<div class="row featurette">
				<div class="col-md-7 col-md-push-5">
					<img class="featurette-image img-responsive center-block" src="assets/map_overview.png"/>
				</div>
				<div class="col-md-5 col-md-pull-7">
					<h4 class="text-rmove"><strong>REPORTING MOVEMENTS</strong></h4>
					<p class="text-muted">When you select a trip to review, you will be shown a map with the route you traveled and the portion of road VTrans would like to focus on. This information, along with the times, provides context so you can answer the questions accurately.</p>
					<br />
					<h4 class="text-muted">rPlace tip:</h4>
					<p class="text-muted">You can toggle between a view of your entire trip and a detailed view of the road segment for which you will be answering questions about pavement conditions. There are also zoom functions and the ability to switch between a map and satellite view.</p>
					<div class="text-center"><img src="assets/map_stop_zoomed.png" /></div>
				</div>
			</div>

			<hr class="featurette-divider" />

			<div class="row featurette">
				<div class="col-md-7 col-md-7">
					<img class="featurette-image img-responsive center-block" src="assets/feedback.png"/>
				</div>
				<div class="col-md-5">
					<h4 class="text-rmove"><strong>LEAVING FEEDBACK</strong></h4>
					<p class="text-muted">We welcome feedback about the app. To leave feedback, use the menu icon on the main screen. <img src="assets/menu_icon.png" style="height: 30px"/></p>
					<p class="text-muted">Please try to leave specific feedback about your experience with the app, and please remember to use the Error screen to report issues on specific trips.</p>
				</div>
			</div>
		</div>
