
<nav class="navbar navbar-inverse navbar-fixed-top charcoal" role="navigation">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="header-icon" src="assets/icon.png" />
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/privacy">Security Promise</a></li>
            <li><a routerLink="/about">Using rPlace</a></li>
            <li><a routerLink="/news">FAQs</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
    </div>
</div>
</nav>

<!--Security Promise = privacy-->
<!--Using rPlace = about-->
<!--FAQS = news-->
<!--Contact Us = contact-->

<!--deleted-->
<!--region-->
<!--sponsors-->