		<div class="jumbotron jumbotron-heading">
				<div class="container">
					<h1>{{dictionary.website_privacy_heading_1}}</h1>
					<hr/>
				</div><!-- /.container -->
			</div><!-- /.jumbotron -->

			<div class="container">

				<div class="row">

						<h3>{{dictionary.website_privacy_heading_1b}}</h3>

						<br/>

						<h4>{{dictionary.website_privacy_heading_2}}</h4>

						<ul>
						<li>{{dictionary.website_privacy_heading_1c}}</li>
						<li>{{dictionary.website_privacy_content_2}}</li>
						<li>{{dictionary.website_privacy_content_3}}</li>
						<li>{{dictionary.website_privacy_content_4}}</li>
						</ul>

						<h4>{{dictionary.website_privacy_heading_3}}</h4>
						<p>{{dictionary.website_privacy_content_5}}</p>

						<h4>{{dictionary.website_privacy_heading_4}}</h4>
						<p>{{dictionary.website_privacy_content_6}}</p>

						<h4>{{dictionary.website_privacy_heading_5}}</h4>
						<p>{{dictionary.website_privacy_content_7}}</p>

						<h4>{{dictionary.website_privacy_heading_6}}</h4>
						<p>{{dictionary.website_privacy_content_8}}</p>

						<h4>{{dictionary.website_privacy_heading_7}}</h4>
						<p>{{dictionary.website_privacy_content_9 }}<a href='mailto:{{dictionary.email}}'>{{dictionary.email}}</a>.</p>

						<h4>{{dictionary.website_privacy_heading_8}}</h4>
						<p>{{dictionary.website_privacy_content_10}}</p>

						<h4>{{dictionary.website_privacy_heading_9}}</h4>
						<p>{{dictionary.website_privacy_content_11}}</p>

						<h4>{{dictionary.website_privacy_heading_10}}</h4>
						<p>{{dictionary.website_privacy_content_12}}</p>

						<h4>{{dictionary.website_privacy_heading_11}}</h4>
						<p>{{dictionary.website_privacy_content_13 }}<br />
							<div itemscope itemtype="http://data-vocabulary.org/Organization">
								<span itemprop="name">{{dictionary.website_privacy_content_14}}</span><br />
								 <span itemprop="address" itemscope
									itemtype="http://data-vocabulary.org/Address"><span itemprop="street-address">{{dictionary.rsg_office_street}}</span><br />
									<span itemprop="locality">{{dictionary.rsg_office_city}}</span>, <span itemprop="region">{{dictionary.rsg_office_state}}</span><span itemprop="postalCode"> {{dictionary.rsg_office_zip}}</span></span><br />
								<!--	<span itemprop="email">{{dictionary.website_privacy_content_15}}</span> <a href="mailto:{{dictionary.email}}">{{dictionary.email}}</a></p>
							</div><!-- /.itemscope -->


			</div><!-- /.row -->
		</div><!-- /.container -->
