
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br />
            <h2>Privacy and Security</h2>
            <br />

            <p>RSG will not spam you, advertise to you or otherwise contact you without your explicit and direct permission.</p>
            <p>RSG is committed to your privacy and we take it very seriously. This statement is intended to provide you with information and understanding about how RSG collects and safeguards personal information.</p>
            <p>RSG conducts market research on behalf of both public and private sector clients using Internet, stand-alone computer, mobile devices, and other data collection means. Ultimately, this research allows our clients to provide you with better products and services that you use on a daily basis. These products and services range from large infrastructure, like rail service and highways, to consumer products, like magazines and cell phones.</p>
            <p>RSG follows generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>
            <p>We reserve the right to disclose your personally identifiable information as required by law, and when we believe that disclosure is necessary to protect our rights and/or to comply with a judicial proceeding, court order, or legal process served on our website.</p>

            <br />

            <div id="viewTerms" onclick="$(this).next('.viewHide').toggle('display'); $(this).children('.viewHide').toggle('display')">
                <span class="viewHide">+ View full terms and conditions</span>
                <span style="display: none;" class="viewHide">- Hide full terms and conditions</span>
            </div>

            <div id="terms" class="viewHide">

                <h2>Terms and Conditions</h2>

                <p>By downloading or using this software application or accompanying documentation, you agree to the following terms and conditions.</p>

                <h3>Agreement</h3>
                <p>This License Agreement ("Agreement"), a legal agreement between you, either an individual or a single entity ("You") and Resource Systems Group, Inc., a New Hampshire corporation with a principal office located at 55 Railroad Row, White River Junction, Vermont (hereinafter, "RSG") governing Your use of RSG's rPlace&8482 software (the "Application"), and any associated documentation.</p>

                <h3>License Grant</h3>
                <p>Subject to the limitations and restrictions provided in this Agreement, RSG grants You a limited, non-exclusive, non-sublicensable, non-transferable, worldwide license, to install and use the Application in accordance with the terms and conditions of this Agreement.  You are granted no other rights or licenses, by implication, or estoppel, or otherwise, under any patents or other intellectual property rights.</p>

                <h3>No Warranties</h3>
                <p>The Application is provided on an "AS IS" basis and to the maximum extent permitted by applicable law, this Application is provided AS IS AND WITH ALL FAULTS, and the authors and developers of this Application and RSG hereby disclaim all other warranties and conditions, either express, implied or statutory, including, but not limited to, any (if any) implied warranties, duties or conditions of merchantability, of fitness for a particular purpose, of accuracy or completeness of responses, of results, of workmanlike effort, of lack of viruses, and of lack of negligence. ALSO, THERE IS NO WARRANTY OR CONDITION OF TITLE, QUIET ENJOYMENT, QUIET POSSESSION, CORRESPONDENCE TO DESCRIPTION OR NON-INFRINGEMENT WITH REGARD TO THIS MATERIAL.</p>

                <h3>Limitation of Liability</h3>
                <p>IN NO EVENT WILL ANY AUTHOR, DEVELOPER, LICENSOR, OR DISTRIBUTOR OF THIS MATERIAL OR WS-I BE LIABLE TO ANY OTHER PARTY FOR THE COST OF PROCURING SUBSTITUTE GOODS OR SERVICES, LOST PROFITS, LOSS OF USE, LOSS OF DATA, OR ANY INCIDENTAL, CONSEQUENTIAL, DIRECT, INDIRECT, PUNITIVE, OR SPECIAL DAMAGES WHETHER UNDER CONTRACT, TORT, WARRANTY, OR OTHERWISE, ARISING IN ANY WAY OUT OF THIS OR ANY OTHER AGREEMENT RELATING TO THIS MATERIAL, WHETHER OR NOT SUCH PARTY HAD ADVANCE NOTICE OF THE POSSIBILITY OF SUCH DAMAGES.</p>

                <h3>Intellectual Property Rights</h3>
                <p>This Application contains proprietary content, information and material that is protected by applicable intellectual property and other laws, including but not limited to copyright.  No portion of the Services may be reproduced in any form or by any means. You agree not to modify, rent, lease, loan, sell, distribute, or create derivative works based on the Application, in any manner, </p>

                <h3>Indemnification</h3>
                <p>You agree to defend, indemnify and hold RSG, our officers, directors, employees and agents harmless, from and against any and all claims, damages, obligations, losses, liabilities, costs, debts, and expenses (including but not limited to attorney's fees) arising from: (i) Your use of the Application; (ii) Your violation of any term of this Agreement; (iii) Your violation of any third party rights, including without limitation any intellectual property rights or privacy right; and (iv) any damage of any sort, whether direct, indirect, special or consequential, You may cause to any third party with relation to the Application. This defense and indemnification obligation will survive this Agreement.</p>

                <h3>General</h3>
                <p>If any provision of this Agreement is invalid or unenforceable under applicable law, it shall not affect the validity or enforceability of the remainder of the terms of this Agreement, and without further action by the parties hereto, such provision shall be reformed to the minimum extent necessary to make such provision valid and enforceable.</p>
                <p>Your rights under this Agreement shall terminate if you fail to comply with any of the material terms or conditions of this Agreement and do not cure such failure in a reasonable period of time after becoming aware of such noncompliance.  If all your rights under this Agreement terminate, you agree to cease use of the Application and any derivative works thereof immediately. </p>

                <h3>Applicable Law</h3>
                <p>This Agreement shall be governed by, and construed in accordance with, the laws of the state of Vermont, without regard to conflict of laws principles. Legal proceedings, if any, shall be subject to the exclusive jurisdiction of the courts of Vermont.</p>

            </div>
        </div><!--col md-->
    </div><!--row-->

</div><!--container-->

    <!--$( document ).ready(function() {-->
        <!--var showMsg = "+ View full terms and conditions";-->
        <!--var hideMsg = "- Hide full terms and conditions";-->

        <!--$('#viewTerms').click(function(e) {-->
            <!--var terms = $('#terms');-->
            <!--if(terms.is(":hidden")) {-->
                <!--terms.show('slow');-->
                <!--$('#viewTerms').text(hideMsg);-->
            <!--} else {-->
                <!--terms.hide('slow');-->
                <!--$('#viewTerms').text(showMsg);-->
            <!--}-->
        <!--})-->
    <!--});-->