	<!-- REGION
		================================================== -->

		<div class="jumbotron jumbotron-heading jumbotron-sub-home"><a name="region"></a>
			<div class="container">
				<h1>About the Region</h1>
				<hr/>
			</div><!-- /.container -->
		</div><!-- /.jumbotron -->

		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="text-center"><a href="./assets/map3.png" target="_blank"><img data-src="holder.js/830x930" alt="study region" src="./assets/map3.png" class="img-responsive img-rounded"></a></div>
					<div class="visible-xs">Click map to enlarge.</div>
				</div><!-- /.col-lg-7 -->
				<div class="hidden-lg"><br/><br/></div>
				<div class="col-lg-5 project-text">
					<p>The 2017 Puget Sound Regional Travel Study region includes all of King, Kitsap, Pierce, and Snohomish counties. The region includes 82 cities and towns, with a total population of nearly 4 million people.</p>
					<p>By 2040, the central Puget Sound region is expected to grow by nearly 1 million people. This rise in population and expected job growth could lead to a 25% increase in regional travel demand. Planners in the region are rising to the challenge to accommodate the growing demand for travel while addressing resident and environmental concerns and providing flexibility for future changes.</p>
				</div><!-- /.col-lg-5 -->
				<div class="col-sm-12">
					<a href="#top"><span class="glyphicon glyphicon-circle-arrow-up"></span>&nbsp;&nbsp;Back to the Top</a>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
